@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-skyblue: #80caff;
}

*:focus,
*:focus-visible {
  @apply outline-skyblue outline-offset-1;
}

.modal {
  transition: all 200ms ease-in allow-discrete;
  opacity: 1;

  transform: translateY(0);
}
@starting-style {
  .modal {
    opacity: 0;
    transform: translateY(1rem);
  }
}
