@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-skyblue: #80caff;
}

* {
  transition: background-color 200ms ease-out;
}

.card-transition {
  transition: flex-basis 400ms ease-in-out;
}

.card-circle-transition {
  transition:
    width 500ms ease-in-out,
    height 500ms ease-in-out;
}

.theme-toggle-transition {
  transition: translate 100ms ease-in-out;
}

*:focus,
*:focus-visible {
  @apply outline-skyblue outline-offset-1;
}

.modal {
  transition: all 200ms ease-in allow-discrete;
  opacity: 1;

  transform: translateY(0);
}
@starting-style {
  .modal {
    opacity: 0;
    transform: translateY(1rem);
  }
}
